# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# Editor
.vscode
.idea
*.sw?

# Vercel
.vercel

# Local env
*.local
*.env

# Claude
.claude
